.nav{
    
    background-color:#563635;
    overflow:hidden;
}
.nav a{
    float:left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size:17px;
}

.dropdown:hover .dropdown-content{
    display:block;
}

body{
    margin:0;
    padding:0;
    text-align: center;
    background-color:#5B6057;
}

.content{
    height:100;
    padding-top:10px;
    padding-bottom: 50px.
}
img{
    display:block;
    margin: auto;
    width: 40%;
}

.footer{
    height: 50px;
    bottom:0;
background:red;
}

